CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUNIV=y
CONFIG_DRAM_CLK=216
CONFIG_SYS_CLK_FREQ=720000000
CONFIG_DRAM_ZQ=0
CONFIG_VIDEO_SUNXI=y
CONFIG_VIDEO_LCD_MODE="x:640,y:480,depth:24,pclk_khz:25175,le:48,ri:16,up:33,lo:10,hs:96,vs:2,sync:0,vmode:0"
CONFIG_VIDEO_LCD_DCLK_PHASE=0
CONFIG_VIDEO_LCD_PANEL_PARALLEL=y
CONFIG_VIDEO=y
CONFIG_CFB_CONSOLE=y
CONFIG_VGA_AS_SINGLE_DEVICE=y
CONFIG_VIDEO_SW_CURSOR=y
# CONFIG_PYLIBFDT is not set
CONFIG_DEFAULT_DEVICE_TREE="suniv-f1c100s-licheepi-nano"
CONFIG_SPL=y
# CONFIG_SPL_DM_SERIAL is not set
