// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/display/st7701initseq.h>

/ {
	model = "Lichee Pi Nano";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	i2c_sii9022: i2c-sii9022 {
		compatible = "i2c-gpio";
		sda-gpios = <&pio 0 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&pio 0 2 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		#address-cells = <1>;
		#size-cells = <0>;

		sii9022: hdmi@39 {
			compatible = "sil,sii9022";
			reg = <0x39>;
			reset-gpios = <&pio 0 3 GPIO_ACTIVE_LOW>;
			interrupt-parent = <&pio>;
			interrupts = <4 12 IRQ_TYPE_EDGE_RISING>;

			port {
				sii9022_input: endpoint {
					remote-endpoint = <&tcon0_out_lcd>;
					bus-width = <18>;
				};
			};
		};
	};

	panel: panel {
		status = "disabled";
		compatible = "lattland,mostima", "simple-panel";
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

				reg = <0>;
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
	};

	st7701initseq: st7701initseq {
		compatible = "lattland,st7701-initseq";
		status = "disabled";
		scl-gpios = <&pio 0 1 GPIO_ACTIVE_HIGH>; /* PA1 swapped for panel test */
		sda-gpios = <&pio 0 2 GPIO_ACTIVE_HIGH>; /* PA2 swapped for panel test */
		cs-gpios = <&pio 0 0 GPIO_ACTIVE_HIGH>;  /* PA0 */
		rst-gpios = <&pio 0 3 GPIO_ACTIVE_HIGH>; /* PA3 */
		init-sequence = <
			ST7701INIT_BEGIN_WRITE

			ST7701INIT_WRITE_COMMAND_8 0xFF
			ST7701INIT_WRITE_BYTES 5 0x77 0x01 0x00 0x00 0x13
			ST7701INIT_WRITE_C8_D8 0xEF 0x08

			ST7701INIT_WRITE_COMMAND_8 0xFF
			ST7701INIT_WRITE_BYTES 5 0x77 0x01 0x00 0x00 0x10
			ST7701INIT_WRITE_C8_D16 0xC0 0x4F 0x00
			ST7701INIT_WRITE_C8_D16 0xC1 0x07 0x02
			ST7701INIT_WRITE_C8_D16 0xC2 0x31 0x05
			ST7701INIT_WRITE_C8_D8 0xC7 0x04
			ST7701INIT_WRITE_COMMAND_8 0xC3
			ST7701INIT_WRITE_BYTES 3 0x82 0x18 0x0e
			ST7701INIT_WRITE_C8_D8 0xCC 0x10

			ST7701INIT_WRITE_COMMAND_8 0xB0
			ST7701INIT_WRITE_BYTES 16
			0x0A 0x14 0x1B 0x0D
			0x10 0x05 0x07 0x08
			0x06 0x22 0x03 0x11
			0x10 0xAD 0x31 0x1B

			ST7701INIT_WRITE_COMMAND_8 0xB1
			ST7701INIT_WRITE_BYTES 16
			0x0A 0x14 0x1B 0x0D
			0x10 0x05 0x07 0x08
			0x06 0x22 0x03 0x11
			0x10 0xAD 0x31 0x1B

			ST7701INIT_WRITE_COMMAND_8 0xFF
			ST7701INIT_WRITE_BYTES 5 0x77 0x01 0x00 0x00 0x11
			ST7701INIT_WRITE_C8_D8 0xB0 0x53
			ST7701INIT_WRITE_C8_D8 0xB1 0x60
			ST7701INIT_WRITE_C8_D8 0xB2 0x07
			ST7701INIT_WRITE_C8_D8 0xB3 0x80
			ST7701INIT_WRITE_C8_D8 0xB5 0x49
			ST7701INIT_WRITE_C8_D8 0xB7 0x85
			ST7701INIT_WRITE_C8_D8 0xB8 0x21
			ST7701INIT_WRITE_C8_D8 0xC1 0x78
			ST7701INIT_WRITE_C8_D8 0xC2 0x78

			ST7701INIT_WRITE_COMMAND_8 0xE0
			ST7701INIT_WRITE_BYTES 3 0x00 0x00 0x02
			ST7701INIT_WRITE_COMMAND_8 0xE1
			ST7701INIT_WRITE_BYTES 11
			0x03 0xA0 0x00 0x00
			0x02 0xA0 0x00 0x00
			0x00 0x33 0x33
			ST7701INIT_WRITE_COMMAND_8 0xE2
			ST7701INIT_WRITE_BYTES 12
			0x22 0x22 0x33 0x33
			0x88 0xA0 0x00 0x00
			0x87 0xA0 0x00 0x00
			ST7701INIT_WRITE_COMMAND_8 0xE3
			ST7701INIT_WRITE_BYTES 4 0x00 0x00 0x22 0x22
			ST7701INIT_WRITE_C8_D16 0xE4 0x44 0x44
			ST7701INIT_WRITE_COMMAND_8 0xE5
			ST7701INIT_WRITE_BYTES 16
			0x04 0x84 0xA0 0xA0
			0x06 0x86 0xA0 0xA0
			0x08 0x88 0xA0 0xA0
			0x0A 0x8A 0xA0 0xA0
			ST7701INIT_WRITE_COMMAND_8 0xE6
			ST7701INIT_WRITE_BYTES 4 0x00 0x00 0x22 0x22
			ST7701INIT_WRITE_C8_D16 0xE7 0x44 0x44
			ST7701INIT_WRITE_COMMAND_8 0xE8
			ST7701INIT_WRITE_BYTES 16
			0x03 0x83 0xA0 0xA0
			0x05 0x85 0xA0 0xA0
			0x07 0x87 0xA0 0xA0
			0x09 0x89 0xA0 0xA0

			ST7701INIT_WRITE_COMMAND_8 0xEB
			ST7701INIT_WRITE_BYTES 7
			0x00 0x01 0xE4 0xE4
			0x88 0x00 0x40
			ST7701INIT_WRITE_C8_D16 0xEC 0x3C 0x01
			ST7701INIT_WRITE_COMMAND_8 0xED
			ST7701INIT_WRITE_BYTES 16
			0xAB 0x89 0x76 0x54
			0x02 0xFF 0xFF 0xFF
			0xFF 0xFF 0xFF 0x20
			0x45 0x67 0x98 0xBA

			ST7701INIT_WRITE_C8_D8 0x36 0x10
			ST7701INIT_WRITE_COMMAND_8 0xFF
			ST7701INIT_WRITE_BYTES 5 0x77 0x01 0x00 0x00 0x13
			ST7701INIT_WRITE_C8_D16 0xE8 0x00 0x0E
			ST7701INIT_WRITE_COMMAND_8 0x20
			ST7701INIT_WRITE_C8_D8 0x3A 0x50
			ST7701INIT_WRITE_COMMAND_8 0x11
			ST7701INIT_END_WRITE
			ST7701INIT_DELAY 150

			ST7701INIT_BEGIN_WRITE
			ST7701INIT_WRITE_C8_D16 0xE8 0x00 0x0C
			ST7701INIT_END_WRITE
			ST7701INIT_DELAY 100

			ST7701INIT_BEGIN_WRITE
			ST7701INIT_WRITE_C8_D16 0xE8 0x00 0x00
			ST7701INIT_WRITE_COMMAND_8 0xFF
			ST7701INIT_WRITE_BYTES 5 0x77 0x01 0x00 0x00 0x00
			ST7701INIT_WRITE_COMMAND_8 0x29
			ST7701INIT_END_WRITE
			ST7701INIT_DELAY 20
		>;
	};

	pcm5102a: pcm5102a {
		#sound-dai-cells = <0>;
		compatible = "ti,pcm5102a";
		status = "okay";
	};

	sound_i2s: sound_i2s {
		compatible = "simple-audio-card";
		simple-audio-card,name = "I2S-master";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		status = "okay";

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&i2s>;
		};

		simple-audio-card,codec {
			sound-dai = <&pcm5102a>;
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	broken-cd;
	status = "okay";
};

&spi1 {
	compatible = "allwinner,sun8i-h3-spi";
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pa_pins>;
	status = "disabled";

	esp8089@0 {
		compatible = "esp,esp8089";
		reg = <0>;
		status = "disabled";
		spi-max-frequency = <10000000>;
		spi-cpol;
		spi-cpha;
	};

	st7789v: display@0 {
		compatible = "sitronix,st7789v";
		reg = <0>;
		status = "disabled";

		spi-max-frequency = <48000000>;
		spi-cpol;
		spi-cpha;

		buswidth = <8>;
		width = <240>;
		height = <320>;
		rgb;
		rotate = <90>;
		fps = <30>;

		dc-gpios = <&pio 0 3 GPIO_ACTIVE_HIGH>; /* PA3 */
		reset-gpios = <&pio 0 0 GPIO_ACTIVE_LOW>; /* PA0 */
	};
};

&otg_sram {
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
	status = "okay";
};

&usbphy {
	status = "okay";
};

#include "matrix_keypad.dtsi"

/* PD0 and PD12 are RGB data pins in the SII9022 display configuration. */
&matrix_keypad {
	status = "disabled";
};

&codec {
    allwinner,audio-routing =
    "Headphone", "HP",
    "Headphone", "HPCOM",
    "MIC", "Mic";
    status = "okay";
};

&i2s {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_pe_pins>;
	status = "okay";
};

&de {
	status = "okay";
};

&fe0 {
	status = "okay";
};

&pio {
	sii9022_rgb666_de_pins: sii9022-rgb666-de-pins {
		pins = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5",
		       "PD6", "PD7", "PD8", "PD9", "PD10", "PD11",
		       "PD12", "PD13", "PD14", "PD15", "PD16", "PD17",
		       "PD18", "PD19", "PD20", "PD21";
		function = "lcd";
	};

};

&tcon0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sii9022_rgb666_de_pins>;
	srgn,swap-b-r;
	status = "okay";
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&sii9022_input>;
		bus-width = <18>;
	};
};
